<ngb-carousel *ngIf="featuredEvents.length > 0">
  <ng-template ngbSlide *ngFor="let event of featuredEvents">
    <a [routerLink]="['/event', event.id]">
      <img [src]="event.imageUrl" alt="{{ event.name }}" class="d-block w-100" style="max-height: 400px; object-fit: cover;" />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ event.name }}</h5>
        <p>{{ event.date | date:'mediumDate' }} - {{ event.location }}</p>
      </div>
    </a>
  </ng-template>
</ngb-carousel>

<app-event-list></app-event-list>
